/* Common styles for both light and dark modes */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    margin: 0;
    min-height: 100vh;
}

.offcanvas-body a {
    width: fit-content;
}

#languageButton {
    height: 40px;
    width: 160px;
}

#toggleMode {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.dropdown-menu {
    text-align: center;
}

    .dropdown-menu a {
        display: block;
        width: auto;
        text-align: center;
        margin: 0 auto;
    }

main {
    margin-top: 4.5rem;
}

.breadcrumb {
    --bs-breadcrumb-divider-color: #a7aaad;
}

.list-group-item a {
    border: none;
}

.pdf-container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

footer {
    bottom: 0;
}

.light-mode {
    background-color: #fff;
    color: #212529;
}

    .light-mode .logo {
        filter: none;
    }

    .light-mode .navbar {
        background-color: #fff;
        color: #212529;
    }

    .light-mode .navbar-toggler {
        border-color: #212529;
    }

    .light-mode .offcanvas {
        background-color: #fff;
        color: #212529;
    }

        .light-mode .offcanvas .btn-close,
        .light-mode .offcanvas .btn-close:focus {
            filter: brightness(0);
        }

    .light-mode .offcanvas-body a {
        color: #212529;
    }

    .light-mode .offcanvas-body .btn {
        border-color: #212529;
        color: #212529;
    }

    .light-mode .dropdown-menu {
        background-color: #fff;
        color: #212529;
    }

        .light-mode .dropdown-menu a {
            color: #212529;
        }

            .light-mode .dropdown-menu a:hover {
                background-color: #d3d3d3;
            }

    .light-mode .breadcrumb-item.active {
        color: #595959;
    }

    .light-mode .list-group-item {
        background-color: #fff;
        color: #212529;
    }

    .light-mode footer a {
        color: #212529;
    }

.dark-mode {
    background-color: #212529;
    color: #fff;
}

    .dark-mode .logo {
        filter: invert(1);
    }

    .dark-mode .navbar {
        background-color: #212529;
        color: #fff;
    }

    .dark-mode .navbar-toggler {
        border-color: #fff;
    }

    .dark-mode .offcanvas {
        background-color: #212529;
        color: #fff;
    }

        .dark-mode .offcanvas .btn-close,
        .dark-mode .offcanvas .btn-close:focus {
            filter: brightness(0) invert(1);
        }

    .dark-mode .offcanvas-body a {
        color: #fff;
    }

    .dark-mode .offcanvas-body .btn {
        border-color: #fff;
        color: #fff;
    }

    .dark-mode .dropdown-menu {
        background-color: #212529;
        color: #fff;
    }

        .dark-mode .dropdown-menu a {
            color: #fff;
            transition: color 0.3s;
        }

            .dark-mode .dropdown-menu a:hover {
                background-color: #343a40;
            }

    .dark-mode .breadcrumb-item.active {
        color: #eee;
    }

    .dark-mode .list-group-item {
        background-color: #212529;
        color: #fff;
    }

    .dark-mode footer a {
        color: #fff;
    }
