@{
    ViewBag.Title = @DnD_Sheet.Resources.Views.Home.CharacterCreator.Title;
}

<h1 class="text-center">@DnD_Sheet.Resources.Views.Home.CharacterCreator.Title</h1>

<iframe id="pdfViewer" src="~/CharacterCreator/DnDSheet.pdf" width="100%" height="700px" frameborder="0"></iframe>