@{
    ViewData["Title"] = @DnD_Sheet.Resources.Views.Home.Index.HomePage;
}

<div class="text-center">
    <h1 class="display-4">@DnD_Sheet.Resources.Views.Home.Index.Welcome</h1>
    <p>@DnD_Sheet.Resources.Views.Home.Index.LearnAbout <a href="https://docs.microsoft.com/aspnet/core">@DnD_Sheet.Resources.Views.Home.Index.BuildingWebApps</a>.</p>
</div>
