@{
    ViewData["Title"] = @DnD_Sheet.Resources.Views.Home.PageNotFound.Title;
}
<h1>404 - @DnD_Sheet.Resources.Views.Home.PageNotFound.Title</h1>
<p>@DnD_Sheet.Resources.Views.Home.PageNotFound.Description</p>